<div class="flex flex-col rounded-lg border bg-background white sm:col-span-2 lg:col-span-4">
  <div class="flex flex-col rounded-lg border bg-background white sm:col-span-2 lg:col-span-4">
    <div
      class="flex flex-col items-center justify-between gap-4 border-b p-5 text-center sm:flex-row sm:text-start"
    >
      <div>
        <h2 class="mb-0.5 font-semibold">All products</h2>
        <h3 class="text-sm font-medium">
          We currently have
          <strong hlmCode class="text-red-200"> {{ products().length }} </strong> products. To
          create a new one 👉
        </h3>
      </div>

      <hlm-dialog>
        <button hlmBtn id="new-product" brnDialogTrigger>Create new product</button>
        <hlm-dialog-content class="w-[625px]" *brnDialogContent="let ctx">
          <hlm-dialog-header>
            <h3 hlmDialogTitle>New Product</h3>
            <p hlmDialogDescription>
              Add new product to the inventory here. Click create when you're done.
            </p>
          </hlm-dialog-header>
          <app-product-form />
        </hlm-dialog-content>
      </hlm-dialog>
    </div>
  </div>
  <div class="p-5">
    <div class="min-w-full overflow-x-auto rounded-sm">
      <table class="min-w-full align-middle text-sm">
        <thead>
          <tr class="border-b-2">
            <th class="min-w-35 px-3 py-2 text-start font-semibold uppercase">ID</th>
            <th class="min-w-45 px-3 py-2 text-start font-semibold uppercase">Category</th>
            <th class="min-w-45 px-3 py-2 text-start font-semibold uppercase">Price</th>
            <th class="min-w-45 px-3 py-2 text-start font-semibold uppercase">Title</th>
            <th class="px-3 py-2 text-start font-semibold uppercase">Rating</th>
            <th class="min-w-25 px-3 py-2 text-start font-semibold uppercase"></th>
          </tr>
        </thead>
        <tbody>
          @for (product of products(); track product.id) {
            <tr class="border-b hover:bg-secondary">
              <td class="p-3 text-start font-semibold">#{{ product.id }}</td>
              <td class="p-3 text-start">{{ product.category | titlecase }}</td>
              <td>€ {{ product.price.toFixed(2) }}</td>
              <td>{{ product.title }}</td>
              <td>
                <span
                  class="inline-flex items-center gap-2 rounded-full px-3 py-1 text-xs leading-4 font-semibold"
                >
                  <span class="ml-1">
                    @for (star of getStars(product.rating.rate); track $index) {
                      <ng-icon
                        hlm
                        size="sm"
                        [name]="star"
                        [ngClass]="{
                          'star-fill': product.rating.rate >= 4.5,
                          'star-fill-mid': product.rating.rate >= 3.0 && product.rating.rate < 4.5,
                          'star-fill-low': product.rating.rate < 3.0,
                        }"
                      />
                    }

                    {{ product.rating.rate }} ({{ product.rating.count }})
                  </span>
                </span>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
