<form
  [formGroup]="productForm"
  (ngSubmit)="onSubmit()"
  class="space-y-4 w-full flex flex-col items-stretch p-4"
>
  <div class="flex gap-10">
    <hlm-form-field class="w-full">
      <input
        type="text"
        class="w-full"
        hlmInput
        placeholder="Title of the product"
        formControlName="title"
      />
      <!--  -->
      <app-form-field-error [control]="productForm.controls.title" label="Title" />
    </hlm-form-field>

    <hlm-form-field class="w-full">
      <input type="number" class="w-full" title="price" hlmInput formControlName="price" />
      <app-form-field-error [control]="productForm.controls.price" label="Price" />
    </hlm-form-field>
  </div>

  <hlm-form-field>
    <textarea
      hlmInput
      title="description"
      formControlName="description"
      placeholder="Product description..."
      class="min-h-20 w-full"
    ></textarea>
    <!--  -->
    <app-form-field-error [control]="productForm.controls.description" label="Description" />
  </hlm-form-field>

  <div class="flex gap-10">
    <div class="w-full">
      <brn-select
        formControlName="category"
        class="inline-block w-full"
        placeholder="Select a category"
      >
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
          @for (item of categories(); track item) {
            <hlm-option [value]="item"> {{ item }} </hlm-option>
          }
        </hlm-select-content>
      </brn-select>
      <!--  -->
      <app-form-field-error [control]="productForm.controls.category" label="Description" />
    </div>

    <hlm-form-field class="w-full">
      <input
        hlmInput
        placeholder="Type an image URL"
        formControlName="image"
        class="w-full"
        type="text"
      />
      <!--  -->
      <app-form-field-error [control]="productForm.controls.image" label="Description" />
    </hlm-form-field>
  </div>

  <div class="flex gap-4">
    <button brnDialogClose type="submit" class="w-1/2" hlmBtn>Create Product</button>
    <button type="button" hlmBtn brnDialogClose variant="outline" class="w-1/2">Close</button>
  </div>
</form>
